node_modules
npm-debug.log
dist
build
*.env
.vscode
.git
.gitignore

frontend/node_modules
frontend/dist
frontend/.env
frontend/.git
frontend/.gitignore

backend/node_modules
backend/sqlite/MeuBanco.db
backend/.env
backend/.git
backend/.gitignore